@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&display=swap");
.aside {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  row-gap: 1rem;
}
.nav__link {
  font-size: 20;
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
  font-weight: 600;
  transition: 0.3s;
}

.mains {
  margin: 1rem 3rem;
}
.nav__item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 3rem;
}
